<% title t("devise.registrations.edit.title") %>

<header class="page-header">
  <h1>
    <%= t("devise.registrations.edit.title") %>
  </h1>
</header>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true } do |f| %>

  <%= render "general", f: f %>
  <%= render "location", f: f %>
  <%# <%= render "password", f: f %>

  <div>
    <%= f.button :button, t("devise.registrations.edit.submit"), class: "btn-primary" %>
  </div>

  <btn class="btn btn-danger js-trigger-geo" data-evaluate-location-path="<%= evaluate_location_url %>">
    <%= t("location.get_location") %>
  </btn>

<% end %>

<div class="centered" id="loading" style="display: none">
  <%= image_tag("ajax-loader.gif", alt: "Loader") %>
</div>

<div class="modal fade js-modal-clear-on-close" id="modal-location-confirmation">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
