<% title t("devise.registrations.edit.title") %>

<header class="page-header">
  <h1>
    <%= t("devise.registrations.edit.title") %>
  </h1>
</header>

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true } do |f| %>

  <%= render "general", f: f %>
  <%= render "location", f: f %>
  <%# <%= render "password", f: f %>

  <%= f.input :picture, as: :file %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= image_tag(resource.picture_url(:default), class: 'img-thumbnail') if resource.picture? %>
  <div>
    <%= f.button :button, t("devise.registrations.edit.submit"), class: "btn-primary" %>
    <btn class="btn btn-danger js-trigger-find-location" data-evaluate-location-path="<%= evaluate_location_url %>">
      <%= t("location.get_location") %>
    </btn>
  </div>


<% end %>

<div class="centered" id="loading" style="display: none">
  <%= image_tag("ajax-loader.gif", alt: "Loader") %>
</div>

<div class="modal fade js-modal-clear-on-close" id="modal-location-confirmation">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
