%h1= t("search.index.title")
%hr/
.row
  - if @user.present?
    .col-sm-12.text-center
      .user-details{ class: "js-profile-sheet" }
        = render("user/user", user: @user)
  - else
    %h2= t("search.index.looking_for")
    = simple_form_for :search, url: search_url, method: :get do |f|
      - @professions.each do |profession|
        = f.button :button, profession_type_to_text(profession), value: profession, name: "profession", class: "btn-primary btn-block text-center"
    %h2= t("search.index.other_options")
    = link_to t("navbar.user.account_settings"), edit_user_registration_path, class: 'btn btn-primary btn-block text-center'
    = link_to "Chats", conversations_path, class: 'btn btn-primary btn-block text-center'
    %h2= "DEBUG"
    = link_to "Clear denied list", user_clear_denied_list_path(current_user), remote: true, method: :put, class: 'btn btn-primary btn-block text-center'
    = link_to "Clear contacted list", user_clear_contacted_list_path(current_user), remote: true, method: :put, class: 'btn btn-primary btn-block text-center'
%hr/
