%h1= "PICK PLEASE !"
%hr/
.row
  - if @user.present?
    .col-sm-12.text-center
      .user-details{ class: "js-profile-sheet" }
        = render("user/user", user: @user)

        -# %btn.btn.btn-lg.btn-primary.btn-block= t("search.change_category")
        -# %btn.btn.btn-lg.btn-primary.btn-block= t("search.wrong_location")
  - else
    %h2= "I am looking for"
    = simple_form_for :search, url: search_url, method: :get do |f|
      - @professions.each do |profession|
        = f.button :button, profession.titleize, value: profession, name: "profession", class: "btn-primary btn-block text-center"
    %h2= "Nah, I want to do the following"
    = link_to t("navbar.user.account_settings"), edit_user_registration_path, class: 'btn btn-primary btn-block text-center'
    = link_to "Clear denied list", user_clear_list_path(current_user), remote: true, method: :patch, class: 'btn btn-primary btn-block text-center'

