.row
  %h1= "Welcome back #{current_user.name}"

%hr/
.row
  %h2= "I am looking for a"
  - @professions.each do |profession|
    %btn.btn.btn-lg.btn-primary.btn-block.text-center= profession.titleize
  %h2= "Nah, I want to do the following"
  %btn.btn.btn-lg.btn-primary.btn-block.text-center= "Edit profile"
  %btn.btn.btn-lg.btn-primary.btn-block.text-center= "Clear next list"

