%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2= t("home.about.title")
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p
          = t("home.about.project_desc", href: link_to("Tinder", "http://www.gotinder.com", class: "dark", target: "_blank")).html_safe
      .col-lg-4
        %p= t("home.about.project_contains")
        %ul
          %li= t("home.about.server_impl")
          %li= t("home.about.rest_usage")
          %li= t("home.about.rest_impl")
          %li= t("home.about.mobile_client")
          %li= t("home.about.geo_usage")

