.row
  .col-md-2.col-md-offset-1
    .team-member
      .team-avatar
        = image_tag("bouffard.jpg", alt: "Avatar", class: "img-circle img-responsive")
      .team-desc
        %h5= "Charles-André Bouffard"
        = link_to "Follow: Blep", "#"

  .col-md-2
    .team-member
      .team-avatar
        = image_tag("brochu.jpg", alt: "Avatar", class: "img-circle img-responsive")
      .team-desc
        %h5= "Alexandre Brochu"
        = link_to "Follow: Blep", "#"

  .col-md-2
    .team-member
      .team-avatar
        = image_tag("nault.jpg", alt: "Avatar", class: "img-circle img-responsive")
      .team-desc
        %h5= "Alex Nault"
        = link_to "Follow: Blep", "#"

  .col-md-2
    .team-member
      .team-avatar
        = image_tag("goulet.jpg", alt: "Avatar", class: "img-circle img-responsive")
      .team-desc
        %h5= "Jean-Philippe Goulet"
        = link_to "Follow: Blep", "#"

  .col-md-2
    .team-member
      .team-avatar
        = image_tag("schnobb.jpg", alt: "Avatar", class: "img-circle img-responsive")
      .team-desc
        %h5= "Gabriel Schnobb"
        = link_to "Follow: Blep", "#"

