%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3= "Want to take part?"
          %p
            = "WannabeTinder is hosted on "
            = succeed "." do
              %a{:href => "https://github.com/cabouffard/Project2014-WannaBeTinder", target: "_blank"} Github
        .footer-col.col-md-4
        .footer-col.col-md-4.col-md-offet-4
          %h3= "Theme"
          %p
            = "WannabeTinder uses"
            = succeed "," do
              %a{:href => "http://startbootstrap.com/template-overviews/freelancer/", target: "_blank"} Freelancer
            = "a free to use and open source Bootstrap theme."
  .footer-below
    .container
      .row
        .col-lg-12
          = t("footer.copyright", date: Date.today.year)

