%section#team
  .container
    .row.col-lg-12.text-center
      %h2= t("home.team.title")
      %hr.star-primary
    .row
      .col-md-2.col-md-offset-1
        .team-member
          .team-avatar
            = image_tag("bouffard.jpg", alt: "Avatar", class: "img-square img-responsive")
          .team-desc
            %h5
              = "Charles-André Bouffard"
              .small= "Web Developper"
            .github
              = icon("fa-github-square")
              = link_to "cabouffard", "https://github.com/cabouffard"
            .linkedin
              = icon("fa-linkedin-square")
              = link_to "cabouffard", "https://www.linkedin.com/in/cabouffard"
            .twitter
              = icon("fa-twitter-square")
              = link_to "the_cabouffard", "https://twitter.com/the_cabouffard"
            .web
              = icon("fa-home")
              = link_to "cabouffard.me", "http://www.cabouffard.me"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("brochu.jpg", alt: "Avatar", class: "img-square")
          .team-desc
            %h5
              = "Alexandre Brochu"
              .small= "C++ Developper"
            .github
              = icon("fa-github-square")
              = link_to "cabouffard", "https://github.com/cabouffard"
            .linkedin
              = icon("fa-linkedin-square")
              = link_to "cabouffard", "https://www.linkedin.com/in/cabouffard"
            .twitter
              = icon("fa-twitter-square")
              = link_to "the_cabouffard", "https://twitter.com/the_cabouffard"
            .web
              = icon("fa-home")
              = link_to "cabouffard.me", "http://www.cabouffard.me"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("nault.jpg", alt: "Avatar", class: "img-square img-responsive")
          .team-desc
            %h5
              = "Alex Nault"
              .small= "Wannabe Developper"
            .github
              = icon("fa-github-square")
              = link_to "cabouffard", "https://github.com/cabouffard"
            .linkedin
              = icon("fa-linkedin-square")
              = link_to "cabouffard", "https://www.linkedin.com/in/cabouffard"
            .twitter
              = icon("fa-twitter-square")
              = link_to "the_cabouffard", "https://twitter.com/the_cabouffard"
            .web
              = icon("fa-home")
              = link_to "cabouffard.me", "http://www.cabouffard.me"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("goulet.jpg", alt: "Avatar", class: "img-square img-responsive")
          .team-desc
            %h5
              = "Jean-Philippe Goulet"
              .small= "C# Developper"
            .github
              = icon("fa-github-square")
              = link_to "cabouffard", "https://github.com/cabouffard"
            .linkedin
              = icon("fa-linkedin-square")
              = link_to "cabouffard", "https://www.linkedin.com/in/cabouffard"
            .twitter
              = icon("fa-twitter-square")
              = link_to "the_cabouffard", "https://twitter.com/the_cabouffard"
            .web
              = icon("fa-home")
              = link_to "cabouffard.me", "http://www.cabouffard.me"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("schnobb.jpg", alt: "Avatar", class: "img-square img-responsive")
          .team-desc
            %h5
              = "Gabriel Schnobb"
              .small= "Wannabe Developper"
            .github
              = icon("fa-github-square")
              = link_to "cabouffard", "https://github.com/cabouffard"
            .linkedin
              = icon("fa-linkedin-square")
              = link_to "cabouffard", "https://www.linkedin.com/in/cabouffard"
            .twitter
              = icon("fa-twitter-square")
              = link_to "the_cabouffard", "https://twitter.com/the_cabouffard"
            .web
              = icon("fa-home")
              = link_to "cabouffard.me", "http://www.cabouffard.me"
