%header
  .container
    .row
      .col-lg-12
        -# %img.img-responsive{:alt => "", :src => "/assets/logo-light.png"}
        %img.img-responsive{:alt => "", :src => "http://placehold.it/350x200"}
          .intro-text
            %span.name= "WannabeTinder"
            %hr.star-light
              %span.skills= "Projet de IFT604"

%section#team
  .container
    .row.col-lg-12.text-center
      %h2= "Our team"
      %hr.star-primary
    .row
      .col-md-2.col-md-offset-1
        .team-member
          .team-avatar
            = image_tag("bouffard.jpg", alt: "Avatar", class: "img-circle img-responsive")
          .team-desc
            %h5= "Charles-André Bouffard"
            = link_to "Follow: Blep", "#"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("brochu.jpg", alt: "Avatar", class: "img-circle")
          .team-desc
            %h5= "Alexandre Brochu"
            = link_to "Follow: Blep", "#"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("nault.jpg", alt: "Avatar", class: "img-circle img-responsive")
          .team-desc
            %h5= "Alex Nault"
            = link_to "Follow: Blep", "#"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("goulet.jpg", alt: "Avatar", class: "img-circle img-responsive")
          .team-desc
            %h5= "Jean-Philippe Goulet"
            = link_to "Follow: Blep", "#"

      .col-md-2
        .team-member
          .team-avatar
            = image_tag("schnobb.jpg", alt: "Avatar", class: "img-circle img-responsive")
          .team-desc
            %h5= "Gabriel Schnobb"
            = link_to "Follow: Blep", "#"


%section#about.success
  .container
    .row
      .col-lg-12.text-center
        %h2= "About"
        %hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        %p 
          = "Le projet est basé sur la fameuse application"
          = succeed "." do
            %a{:href => "http://www.gotinder.com"} Tinder
          = "Au niveau de l'informatique. blabla"
      .col-lg-4
        %p= "Le projet doit comprendre minimalement les éléments suivants :"
        %ul
          %li= "implémentation d’un serveur"
          %li= "utilisation d’un service web commercial ou REST"
          %li= "implémentation d’un service web « maison » ou REST"
          %li= "client mobile sur téléphone cellulaire ou sur tablette. Un projet impliquant un réseau de capteurs est aussi considéré comme équivalent."
          %li= "utilisation d’informations de géolocalisation et personnalisation selon le contexte (lieu, heure, historique, profil…)."

%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-4
          %h3= "Location"
          %p
            3481 Melrose Place
            %br
              Beverly Hills, CA 90210
        .footer-col.col-md-4
        .footer-col.col-md-4.col-md-offet-4
          %h3= "About Freelancer"
          %p
            = "Freelance is a free to use, open source Bootstrap theme created by"
            = succeed "." do
              %a{:href => "http://startbootstrap.com"} Start Bootstrap
  .footer-below
    .container
      .row
        .col-lg-12
          = t("footer.copyright", date: Date.today.year)
