.row
  = image_tag(user.picture? ? user.picture_url(:thumb) : "blank-avatar.png", alt: "Avatar", class: "user-avatar user-#{user.profession}-avatar img-thumbnail")
.row
  %strong= "Informations"
  %table.table.table-bordered
    %body
      %tr
        %td= t("fields.name")
        %td= user.first_name
      %tr
        %td= t("fields.profession")
        %td= position_type_to_text(user.profession)
      %tr
        %td= t("fields.city")
        %td= user.city
      %tr
        %td= t("fields.state")
        %td= user.state
      %tr
        %td= t("fields.country")
        %td= user.country
      %tr
        %td= t("fields.distance")
        %td= "~10 km from you"
.row
  %btn.btn.btn-lg.btn-danger.js-deny-user{ style: "margin-bottom: 5px", data: { profession: user.profession, update_url: user_deny_profile_url(user.id) } }= t("search.next")
  %btn.btn.btn-lg.btn-success.js-contact-user{ style: "margin-bottom: 5px", data: { update_url: user_url(user), user_id: user.id } }= t("search.contact")

