.row
  = image_tag(user.picture? ? user.picture_url(:thumb) : "blank-avatar.png", alt: "Avatar", class: "user-avatar user-#{user.profession}-avatar img-thumbnail")
.row
  %strong= "Informations"
  %table.table.table-bordered
    %body
      %tr
        %td= t("fields.name")
        %td= user.first_name
      %tr
        %td= t("fields.profession")
        %td= profession_type_to_text(user.profession)
      %tr
        %td= t("fields.city")
        %td= user.city
      %tr
        %td= t("fields.state")
        %td= user.state
      %tr
        %td= t("fields.country")
        %td= user.country
      %tr
        %td= t("fields.distance")
        %td= "Approx. : #{number_to_human(current_user.distance_to([user.latitude, user.longitude]) * 1000, units: :distance, precision: 1)}" if user.has_gps_location? && current_user.has_gps_location?
.row
  = link_to t("search.next"), user_deny_profile_url(user, user: { profession: user.profession }), remote: true, method: :put, class: 'btn btn-lg btn-danger text-center'
  = link_to t("search.contact"), user_notify_url(user, user: { profession: user.profession }), remote: true, method: :put, class: 'btn btn-lg btn-success text-center'
