= simple_form_for(@user, url: user_url, remote: true, html: { class: 'form-vertical js-form-vertical' }) do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"}
    %h4.modal-title= t("location.title_confirm")

  .modal-body
    = f.input :street
    = f.input :city
    = f.input :state
    = f.input :country, as: :string
  .modal-footer
    = link_to t('general.close'), 'javascript:void(0);', class: 'btn btn-default', :'data-dismiss' => 'modal'
    = f.button :button, t("devise.registrations.edit.submit"), class: 'btn-primary'

