!!!
%html
  %head= render "layouts/head"
  %body{"data-env" => Rails.env}
    = render "layouts/analytics" if Rails.env == "production"
    %header.app-nav= render "layouts/app_nav"
    .app-container
      .app-main
        .app-flash
          = render "layouts/flash"
        .row
          .col-sm-12
            .app-content
              = yield
      .app-footer
        = render "layouts/footer"
